{% extends 'base.html' %} {% block title %}Donate{% endblock title %} {% block body %}
<form action="payment/" method="POST">
  {% csrf_token %}
  <input type="submit" value="Food for the animal shelter" name="food_animal" />
  <input type="submit" name="charity_money" value="Donate to charity" />
  <input type="submit" name="food_bank" value="Provide to feed a family" />
  <input type="submit" name="tree_plant" value="Plant a tree" />
  <input type="submit" name="water_well" value="Build a well in africa" />
  <input type="submit" name="scholarship" value="Help a student with his needs" />
</form>

{% endblock body %}
