{% extends 'base.html' %}

{% block title %}Donate{% endblock title %}

{% block body %}
{% load static %}
<div class="container p-5 mt-5 ml-5">
    <div class="row gy-5">
        <div class="col-4">
            <a href = "animal/payment/"class="">
                <img class = "donate_img" src="{% static 'images/animal.png' %}" alt="">
            </a>
        </div>
        <div class="col-4">
            <a href = "food_factory/payment/"class="">
                <img class = "donate_img" src="{% static 'images/food_factory.png' %}" alt="">
            </a>
        </div>
        <div class="col-4">
            <a href = "money/payment/"class="">
                <img class = "donate_img" src="{% static 'images/money.png' %}" alt="">
            </a>
        </div>
        <div class="col-4">
            <a href = "plant/payment/"class="">
                <img class = "donate_img" src="{% static 'images/plant.png' %}" alt="">
            </a>
        </div>
        <div class="col-4">
            <a href = "well/payment/"class="">
                <img class = "donate_img" src="{% static 'images/well.png' %}" alt="">
            </a>
        </div>
        <div class="col-4">
            <a href = "scholarship/payment/"class="">
                <img class = "donate_img" src="{% static 'images/scholarship.png' %}" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock body %}