{% extends 'base.html' %} {% block title %} Login {% endblock title %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="">
        <form class="text-center" action="/" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-12 mb-5 mt-5 display-4">LOGIN</div>
            <div class="col-12 mb-3">
              <input
                type="text"
                class="px-5 py-2 text-center h4"
                name="username"
                placeholder="Username"
              /><br />
            </div>
            <div class="col-12">
              <input
                type="password"
                class="px-5 py-2 text-center h4"
                name="password"
                placeholder="Password"
              /><br />
            </div>
            <div class="col-12">
              <input
                type="submit"
                class="btn btn-primary bg-blue bord-blue mt-2 px-5"
                value="Submit"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

{% endblock body %}
