{% extends 'base.html' %}

{% block title %}Payments{% endblock %}

{% block content %}

  Hi {{ user.username }}!
  
        <body>
            <form action="https://uat.esewa.com.np/epay/main" method="POST">
            <h4>Total Amount: </h4>
            <input value="100" name="tAmt" type="text"> <br>
            <h4>Amount: </h4>
            <input value="90" name="amt" type="text"><br>
            <input value="0" name="txAmt" type="hidden">
            <input value="0" name="psc" type="hidden">
            <input value="0" name="pdc" type="hidden">
            <h4>Message: </h4>
            <input value="EPAYTEST" name="scd" type="text"><br>
            <input value="ee2c3ca1-696b-4cc5-a6be-2c40d929d453" name="pid" type="hidden"><br>
            <input value="http://merchant.com.np/page/esewa_payment_success?q=su" type="hidden" name="su"><br>
            <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu"><br>
            <input value="Submit" type="submit">
            </form>
        </body>
{% endblock %}